# SPDX-FileCopyrightText: : 2017-2024 The PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#run
run:
  prefix: ""
  name: #"all"
  #- baseline
  #- basetariffs_iter_2
  - baseline_iter_1
  - ff55tariffs_iter_1
  - ff55_iter_1
  #- baseline_iter_4
  #- ff55tariffs_iter_6
  #- ff55_iter_5
  #- steel_aluminum
  #- baseline_iter_1
  #- ff55tariffs_iter_1
  #- ff55tariffs_iter_6
  #- baseline_iter_3
  #- hist
  #- steel_aluminum
  scenarios:
    enable: true
    file: config/scenarios_fidelio_coupling.yaml
  disable_progressbar: false
  shared_resources:
    policy: false
    exclude: []
  shared_cutouts: true

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#foresight
foresight: myopic

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#scenario
# Wildcard docs in https://pypsa-eur.readthedocs.io/en/latest/wildcards.html
scenario:
  ll:
  - vopt
  clusters:
  #- 39
  - 31
  opts:
  - ''
  sector_opts:
  - ''
  planning_horizons:
  #- 2020
  - 2030
  - 2040
  - 2050

validation: true # Should be turned on when 2020 as planning_horizon

enable:
  retrieve: auto
  
# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#countries
#countries: ['AL', 'AT', 'BA', 'BE', 'BG', 'CH', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'ME', 'MK', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK', 'XK']

# Just EU countries
# Removed Countries (Not in the EU): Albania (AL), Bosnia and Herzegovina (BA), United Kingdom (GB), Montenegro (ME), North Macedonia (MK), Norway (NO), Serbia (RS), Kosovo (XK)
#countries: ['AT', 'BE', 'BG', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GR', 'GB', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']
countries:
- AT
- BE
- BG
- CZ
- DE
- DK
- EE
- ES
- FI
- FR
- GB
- GR
- HR
- HU
- IE
- IT
- LT
- LU
- LV
- NL
- PL
- PT
- RO
- SE
- SI
- SK


weather_years:
  enable: true
  rcp: 4-5
# RCP 2.6 is 2-6, RCP 4.5 is 4-5, RCP 8.5 is 8-5
  global_regional_models: CNRM-CERFACS-CM5--CNRM-ALADIN63
# Global Climate Models (GCMs): CNRM-CERFACS-CM5, MPI-M-MPI-ESM-LR, MIROC-MIROC5
# Regional Climate Models (RCMs): CNRM-ALADIN63, ICTP-RegCM4-6, CLMcom-CLM-CCLM4-8-17
# Global model 1 has to be connected to regional model 1, so e.g. CNRM_CERFACS_CM5__CNRM_ALADIN63 but not CNRM_CERFACS_ICTP-RegCM4-6
  

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#electricity
electricity:
  extendable_carriers:
    Generator: [solar, onwind, offwind-ac, offwind-dc, offwind-float, OCGT, CCGT]
  renewable_carriers: [solar, onwind, offwind-ac, offwind-dc, offwind-float, hydro]
  transmission_limit: v1.2
  estimate_renewable_capacities:
    technology_mapping:
      PV: [solar]


# docs
# TODO: PyPSA-Eur merge issue in prepare_sector_network.py
# regulate what components with which carriers are kept from PyPSA-Eur;
# some technologies are removed because they are implemented differently
# (e.g. battery or H2 storage) or have different year-dependent costs
# in PyPSA-Eur-Sec
pypsa_eur:
  Bus:
  - AC
  Link:
  - DC
  Generator:
  - onwind
  - offwind-ac
  - offwind-dc
  - offwind-float
  - solar
  - ror
  - nuclear
  StorageUnit:
  - PHS
  - hydro
  Store: []

# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#energy
energy:
  energy_totals_year: 2019
  base_emissions_year: 2005
  emissions: All greenhouse gases - (CO2 equivalent)


# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#sector
sector:
  fidelio:
    enable: true
    fidelio_shocks: false
    scenario: baseline
    no_ice_ban: false
    fidelio_folder: "../coupling/from_fidelio/iter_1/"
  endo_industry:
    enable: true
    policy_scenario: maintain
    regional_steel_demand: true
    endo_aluminium: false
  min_part_load_steel: 0.2
  bev_dsm: false
  v2g: false
  cluster_heat_buses: false
  land_transport_fuel_cell_share:
    2020: 0
    2025: 0
    2030: 0
    2035: 0
    2040: 0
    2045: 0
    2050: 0
  land_transport_electric_share:
    2020: 0
    2025: 0.15
    2030: 0.3
    2035: 0.45
    2040: 0.7
    2045: 0.85
    2050: 1
  land_transport_ice_share:
    2020: 1
    2025: 0.85
    2030: 0.7
    2035: 0.55
    2040: 0.3
    2045: 0.15
    2050: 0
  shipping_hydrogen_share:
    2020: 0
    2025: 0
    2030: 0
    2035: 0
    2040: 0
    2045: 0
    2050: 0
  shipping_methanol_share:
    2020: 0
    2025: 0.15
    2030: 0.3
    2035: 0.5
    2040: 0.7
    2045: 0.85
    2050: 1
  shipping_oil_share:
    2020: 1
    2025: 0.85
    2030: 0.7
    2035: 0.5
    2040: 0.3
    2045: 0.15
    2050: 0
  methanation: false
  biomass_to_liquid: false
  biomass_to_liquid_cc: false
  tes: false
  regional_oil_demand: false
  electricity_distribution_grid: false
  solid_biomass_import:
    enable: true
  shipping_ammonia_efficiency: 0.36 # https://www.frontiersin.org/journals/mechanical-engineering/articles/10.3389/fmech.2022.944201/full
  heat_vent:
    urban central: false
    urban decentral: false
    rural: false
  hydrogen_turbine: false
  co2_spatial: false
  co2_network: false
  H2_network: false
  methanol:
    methanol_to_power:
      ocgt: false
    biomass_to_methanol: false
  electrobiofuels: false
  district_heating:
    ptes:
      dynamic_capacity: true
      supplemental_heating:
        enable: false
        booster_heat_pump: false
  co2_sequestration_potential:
    2020: 0
    2030: 50
    2040: 250
    2050: 400


links:
  max_extension: 10000 #MW
lines:
  max_extension: 10000 #MW
  
# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#industry
industry:
  base:
    St_primary_fraction:
      2020: 0.6
      2025: 0.58
      2030: 0.55
      2035: 0.53
      2040: 0.50
      2045: 0.48
      2050: 0.45
    DRI_fraction:
      2020: 0.0
      2025: 0.0
      2030: 0.01
      2035: 0.02
      2040: 0.03
      2045: 0.05
      2050: 0.07
    Al_primary_fraction:
      2020: 0.4
      2025: 0.39
      2030: 0.38
      2035: 0.37
      2040: 0.36
      2045: 0.35
      2050: 0.34
    HVC_primary_fraction:
      2020: 1.0
      2025: 0.98
      2030: 0.96
      2035: 0.95
      2040: 0.93
      2045: 0.92
      2050: 0.90
    HVC_mechanical_recycling_fraction:
      2020: 0.12
      2025: 0.13
      2030: 0.14
      2035: 0.15
      2040: 0.16
      2045: 0.17
      2050: 0.18
    HVC_chemical_recycling_fraction:
      2020: 0.0
      2025: 0.0
      2030: 0.01
      2035: 0.02
      2040: 0.03
      2045: 0.04
      2050: 0.05
  ff55:
    St_primary_fraction:
      2020: 0.6
      2025: 0.55
      2030: 0.5
      2035: 0.45
      2040: 0.4
      2045: 0.35
      2050: 0.3
    DRI_fraction:
      2020: 0
      2025: 0
      2030: 0.05
      2035: 0.2
      2040: 0.4
      2045: 0.7
      2050: 1
    Al_primary_fraction:
      2020: 0.4
      2025: 0.375
      2030: 0.35
      2035: 0.325
      2040: 0.3
      2045: 0.25
      2050: 0.2
    HVC_primary_fraction:
      2020: 1.0
      2025: 0.9
      2030: 0.8
      2035: 0.7
      2040: 0.6
      2045: 0.5
      2050: 0.4
    HVC_mechanical_recycling_fraction:
      2020: 0.12
      2025: 0.15
      2030: 0.18
      2035: 0.21
      2040: 0.24
      2045: 0.27
      2050: 0.30
    HVC_chemical_recycling_fraction:
      2020: 0.0
      2025: 0.0
      2030: 0.04
      2035: 0.08
      2040: 0.12
      2045: 0.16
      2050: 0.20


# docs in https://pypsa-eur.readthedocs.io/en/latest/configuration.html#clustering
clustering:
  temporal:
    resolution_elec: false
    resolution_sector: 3h

plotting:
  tech_colors:
    # wind
    co2_ets: "#235ebc"
    co2_ets2: "black"
    co2_nonets: "white"
    NH3 for shipping: "green"
    synfuels for aviation: 'white'
    biofuels for aviation: 'green'

solving:
  solver:
    name: gurobi
    options: gurobi-filippo

  solver_options:
    gurobi-filippo:
      threads: 32
      method: 2 # barrier
      crossover: 0
      BarConvTol: 1.e-3
      Seed: 123
      AggFill: 0
      PreDual: 0
      GURO_PAR_BARDENSETHRESH: 200

